.DS_Store
__pycache__/
*.py[cod]
/venv/
/.idea/*
/node_modules/
/learningmachines/__pycache__
/learningmachines/learningmachines/__pycache__
/learningmachines/searcher/__pycache__
/learningmachines/db.sqlite3
/learningmachines/learningmachines/credentials.py
/learningmachines/searcher/tempmodeldata/*
/learningmachines/etc/uwsgi/run.log
/learningmachines/static/*

