.DS_Store
__pycache__/
*.py[cod]
/venv/
/.idea/*
/node_modules/
/learningmachines/__pycache__
/learningmachines/learningmachines/__pycache__
/learningmachines/searcher/__pycache__
/learningmachines/db.sqlite3
/learningmachines/learningmachines/credentials.py
/learningmachines/searcher/tempmodeldata/*
/learningmachines/etc/uwsgi/run.log
/learningmachines/static/*
/learningmachines/eval_data/lda_hyperparams/*
/learningmachines/searcher/static/searcher/vent_notes/
/learningmachines/searcher/static/searcher/climate_maps/
/learningmachines/searcher/static/searcher/debates/
/learningmachines/searcher/static/searcher/insta_static/
/learningmachines/searcher/static/searcher/library/
/learningmachines/searcher/static/searcher/blm/


