
{# HTML5 declaration #}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Day Network</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/x-icon" href="{% static 'searcher/images/favicon.ico' %}" />
    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'searcher/images/favicon.ico %'" />
    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'searcher/images/favicon.ico %'" />
    <!-- For iPhone:-->
    <link rel="apple-touch-icon-precomposed" href="{% static 'ext/favicon.ico' %}" /> 
 <!--<link rel="stylesheet" href="/static/searcher/src/bootstrap.min.css">-->
  
 <link rel="stylesheet" href="{% static 'searcher/blm/ext/css/d3.slider.css' %}"/>  
 <link rel="stylesheet" href="{% static 'searcher/css/bootstrap.min.css' %}"/>  
  <link rel="stylesheet" href="{% static 'searcher/blm/ext/css/dc.css' %}"/> 
  <link rel="stylesheet" href="{% static 'searcher/blm/twitter.css' %}"/> 

</head>
<body ng-app="twitterstuff">
  <div class='container-fluid'>
    <div ng-controller="twitterselect">
      <div class='row'>
       <div class='col-12'>
        <div id="graph"></div>
      </div>
      </div>
    <div class= 'row'>
      <div class='col-6'>
         <div class='dc-data-count' style="float:left">
            <h6>
            <span>
            <span class="filter-count"></span>
             selected out of 
            <span class="total-count"></span>
             records | 
            <a href="javascript:dc.filterAll(); dc.renderAll()" ng-click="changeTagLabels()">Reset All</a>
          </span>
           </h6>
         </div>
    </div>
    </div>
    <div class='row'>
      <div class="col-2 chart-text  {fill: black;}" id="group-chart">
        <strong>Hashtag Frequency</strong>
        <a class="reset" href="javascript:groupChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
      </div>
    <div class='col-10 '>

           <div class="row">
          <div class="col-12 col-md-12 col-sm-12" id="move-chart">
              <strong>Hashtag Frequency/Time chart</strong>
              <span class="reset" style="display: none;">range: <span class="filter"></span></span>
              <a class="reset" href="javascript:moveChart.filterAll();volumeChart.filterAll();dc.redrawAll();"
                 style="display: none;">reset</a>

              <div class="clearfix"></div>
          </div>
      </div>


      <div class="row">
          <div class="col-12 " id="volume-chart">
          </div>

      </div>

  <div class="row">

    <div class='col-6' id="retweet-chart" style="padding-left: 40px" align="center">
        <strong>Retweeted vs Original Tweets</strong>
        <a class="reset" href="javascript:retweetedChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
    </div>
    <div class="col-6" id="day-of-week-chart">
        <strong>Day of Week</strong>
        <a class="reset" href="javascript:dayOfWeekChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
    </div>

    </div>
</div>
      
</div>

    



</body>


<script src="{% static 'searcher/blm/ext/angular.js' %}"></script>
    <script src="{% static 'searcher/blm/ext/d3.v3.min.js' %}"></script>
    <script src="{% static 'searcher/blm/ext/crossfilter.js' %}"></script>
     <script src="{% static 'searcher/blm/ext/dc.js' %}"></script>
   
    <script src="{% static 'searcher/blm/ext/jquery.min.js' %}"></script>
    <script src="{% static 'searcher/blm/ext/d3.slider.js' %}"></script>
    <script src="{% static 'searcher/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'searcher/blm/basic-stats/basic-aug.js' %}"></script>
    <script>
      const filepath = "{% static 'searcher/blm/data/basic_stats/' %}"
    </script>

</html>
