{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}Model Visualization - Word2Vec{% endblock title%}

{% block head_css_section %}
{% endblock head_css_section %}

{% block content %}
  <div class="row">
    <div class="col-12" >

      <div class="row pt-2 pb-2 info-header justify-content-center" >
        <div class="col-10">
          <div class="row">
              <div class="col-2">
                <h6>Corpus : <span id="corpus"></span></h6>
              </div>
              <div class="col-2">
                <h6>Term : <span id="term"></span></h6>
              </div>
              <div class="col-2">
                <h6># Docs : <span id="dn"></span></h6>
              </div>
               <div class="col-2">
                <h6>Stopwords : <span id="stop_words" style="font-size:10px"></span></h6>
              </div>
              <div class="col-2">
                <h6>Years : <span id="start"></span>-<span id="end"></span></h6>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <div id="docstable-div">
            <h6 class="">Documents containing <span id="word-label"></span></h6>
            <table id="docstable" class="table tinytext">
              <thead>
               <tr>
                  <th>title</th>
                  <th>journal</th>
                  <th>date</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
          <div id="docdiv">
            <h6 id="doc-title"></h6>
            <p id="doc-contents" style="font-size: 13px"></p>
          </div>
        </div>
        <div  class="col-6" id="loading_show" align="center">
          <h6>Formatting data, for smaller doc counts please allow a few seconds. For large doc counts > 3000 please allow for up to 5 minutes of waiting. We know this is a long time to wait and we apologize, but these are some big ol honkin models and we don't have that much money for AWS</h6>
          <img src="{% static 'searcher/images/big-ajax-loader.gif' %}" alt="loading">
        </div>
        <div class="col-6 hidden" id="svg-div">
            <div class="ui-widget" style="position: absolute; top: 10px; left: 20px">
              <!--<label for="words" id="searchbutton">Search: </label>-->
              <input id="words" placeholder="search for word">
              <div aria-labelledby="searchbutton" id="searchdd">  
               <i data-container="body" data-toggle="popover" data-placement="bottom" data-content="Each circle is a word vector, projected onto 2-dimensions using pca. They are clustered using Kmeans clustering. Double click to select a cluster, single click to select and show the most similar 25 words based on cosine similarity. Double click on the whitespace to deselect" class="material-icons center_icon_h3">info_outlined</i>   
              </div>
            </div>
        </div>
        <div class="col-3" style="height: 100%; overflow: auto">
          <div id="clustertable-div" >
            <table id="clustertable" class="table tinytext">
              <thead>
               <tr>
                  <th scope="col">cluster</th>
                  <th scope="col">size</th>
                  <th scope="col">top_words</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
          <div id="wordsimstable-div" class="hidden">
            <h6 class="selected-word"></h6>
            <table id="wordsimstable" class="table tinytext">
              <thead>
                <tr>
                  <th>word</th>
                  <th>similarity</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}

{% block footer_javascript_section %}
  <script src="{% static 'searcher/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'searcher/popper.js' %}"></script>
  <script src="{% static 'searcher/js/bootstrap.min.js' %}"></script>
    <!--<script src="/static/searcher/js/jquery-ui.js"></script>-->
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
    integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
    crossorigin="anonymous"></script>
  <script src="{% static 'searcher/js/d3.min.js' %}"></script>
  <script src="{% static 'searcher/2d-word2vec.js' %}"></script>
{% endblock footer_javascript_section %}