{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}BERT Embeddings Visualization{% endblock title %}

{% block content %}
<div>
    <h1>BERT Embeddings</h1>
</div>
{% endblock content %}

{% block footer_javascript_page %}
<script src="https://d3js.org/d3.v4.js"></script>
<script>
    d3.json('/Users/happyhome/Documents/learning_machines_app/learningmachines/searcher/tempmodeldata/sample_json_of_points.json', function(data) {
        console.log(data)
    });
</script>
{% endblock footer_javascript_page %}