{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}BERT Embeddings Visualization{% endblock title %}

{% block content %}
  <div class="row visContainer">
    <div class="projlist container-fluid mt-5">
      <h2>BERT Projection</h2>
      <div class="row justify-content-evenly" style="margin-bottom: 1.5rem;">
        {% for dataset, dataset_info in datasets.items %}

        <div class="col-12 col-md-4 col-lg-4 col-xl-4" style="padding: 1.5rem;">
          <a href="/searcher/bert_method_vis/{{dataset}}">
            <div class="card h-100 p-3">
              <div class="card__imageContainer">
                <h3 style="color: black" >{{dataset_info.display_name}}</h3>
                <span>{{dataset_info.description}}</span>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

        {%if url_parameter %}
          
        <div class="row">
          <div class="col-lg-6">
              <div class="row"><!-- Input Nav row -->
                  <div class="col d-flex flex-wrap graybg p-2 justify-content-start justify-content-xl-between"><span class="mr-2"><strong>Dataset:</strong> <span id="corpus"></span></span><span class="mr-2"><strong>Query:</strong> <span id="term"></span></span><span class="mr-2"><strong>Parameters:</strong> 100 docs; 20 topics; year-year</span></div>
              </div>

              <div id="visContainer__loading" class="visContainer__loading" align="center">
                  <img src="{% static 'searcher/images/big-ajax-loader.gif' %}" alt="loading">
              </div>
              <div id="visContainer__graph" class="visContainer__graph hidden">
                  <div class="row pt-2">
                      <div class="col">
                          <ul class="nav nav-tabs" id="visTabs" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link" id="tree-btn" data-toggle="tab" href="#tree" role="tab" aria-controls="tree" aria-selected="true">Tree <i class="fas fa-info-circle  ml-2" data-container="body" data-toggle="popover" data-placement="bottom"
                                  data-content="clusters."></i></a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="circle-btn" data-toggle="tab" href="#circle" role="tab" aria-controls="circle" aria-selected="true">Circle <i class="fas fa-info-circle  ml-2" data-container="body"
                                  data-toggle="popover" data-placement="bottom"
                                  data-content="timeline"></i></a>
                              </li>
                              

                          </ul>

                      </div>
                  </div>
                  <div class="tab-content gr1ayborder mt-5" id="visTabContent">
                      <div class="tab-pane fade" id="tree-graph-div" role="tabpanel" aria-labelledby="tree-tab">
                          
                      </div>
                      <div class="tab-pane fade" id="circle-graph-div" role="tabpanel" aria-labelledby="circle-tab">
                          <p> Selected word: <span id="word_label">none</span></p>
                      </div>
                      <div class="tab-pane fade show active" id="network-graph-div" role="tabpanel" aria-labelledby="network-tab">
                          <div class="row">
                              <div class="col-2">
                              <p> Doc-link limit:<span id="kl_label"></span></p>
                              </div>
                              <div class="col-2" id="slider">
                              </div>
                              <div class="col-8">
                              <div class="row"><!-- Nodes -->
                                <div class="col d-flex flex-wrap  p-2 justify-content-start">
                                    <div class="" >Notes Mode:
                                        <i class="fas fa-toggle-on orange"></i>
                                    </div>
                                    <div class="pl-2 pr-2"><a href="#" id="annotation-button">Show Tools</a></div>
                                    <!-- <div class=""><a href="#" id='s-n-a-b' style="cursor: pointer;">Show Notes Menu</a></div> -->
                                    <div class="pl-2 pr-2"><a href="#" id='ex-a-b' style="cursor: pointer;">Export to PNG</a></div>
                                </div>
                              </div>
                              </div>
                              <div class="col-12 cytoscape-height"  id="network-graph">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> 
          <div class="col-lg-6">
              <div class="row">
                  <!--nested row for tables -->
                  <div class="col-xl-7">
                      <h4 class="gent">Clusters <i class="fas fa-info-circle orange ml-2"></i></h4>

                      <div id="clusters-table" class="table clustertable">
                          
                      </div>
                  </div>

                  <div class="col-xl-5">
                      <h4 class="gent">Documents <i class="fas fa-info-circle orange ml-2"></i></h4>
                      <div class="limitheight mt-4" id="topics-table">
                          <table id="dtable" class="table docstable" style="border-left: 6px solid rgba(64, 70, 136, 0.6);">
                              
                          </table>
                      </div>
                  </div>
              </div>

              <div class="visContainer__infoContainer">
                <div class="row mb-3">
                    <div class="col mt-4">
                      <div class="visContainer__searchContainer">
                        <h4 class="gent">Selected Document</h4>
                        <div class='row'>
                          <div class="col-12">
                            <input type="text" style="font-size: 15px" name="search-term"  id="search-input" class="form-control input-lg" placeholder="Search Documents"/>
                          </div>
                          <div class="col-12 mt-2">
                            <h6 id="s-doc-count"></h6>
                            <button class="btn btn-secondary hidden" id="restore-search-button">Restore Search</button>
                          </div>
                        </div>
                        <p id="doc_contents" class="table_txt" style="max-height: 100%; overflow-x: auto; overflow-y: auto;"></p>
                      </div>
                      <div class="visContainer__info">
                        <div class="visContainer__info__docText" id="visContainer__info__docText"></div>
                      </div>
                    </div>

                </div>
              </div>
          </div>

        </div>
        {% endif %}
      </div>
    </div>
  </div>

    
     

  

  
{% endblock content %}

{% block footer_javascript_page %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
<script>let static_url = "{% static 'searcher/bert_method_data/' %}"</script>
<script src="{% static 'searcher/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/popper.js' %}"></script>
<!-- <script src="{% static 'searcher/js/bootstrap.min.js' %}"></script>-->
<!--<script src="/static/searcher/js/jquery-ui.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="{% static 'searcher/js/d3.min.js' %}"></script>
<script src="{% static 'searcher/js/three.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="{% static 'searcher/bert_method.js' %}"></script>
<script>

  var circle_sprite = new THREE.TextureLoader().load(
        "{% static 'searcher/images/disc.png' %}"
        )
  var navButtons = document.querySelectorAll('[data-bs-toggle = "tab"]');
  for(let i = 0; i < navButtons.length; i++){
    if(window.location.search == ""){
      navButtons[i].classList.remove('active');
    }
    else{
      var getParameter = window.location.search.substring(9);
      var toBeActive = document.getElementById(getParameter);
      toBeActive.classList.add('active');
    }
  }
</script>

{% endblock footer_javascript_page %}


[bert, tsne, pca, pcakmeans, kmeanspca, umap]