{% extends 'searcher/base.html' %}
{% block title %}Change Password{% endblock title%}
{% block content %}
<div class="col-6 screen-col bg-color mt-3 mb-3" align="center" style="border-radius: 10px; box-shadow: 0px 0px 5px 2px grey">
       <div id="legend" class="mt-5">
        <h1>Change Password</h1>
      </div>


  <form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <fieldset>
      <div class="control-group">
        <!-- Password-->
        <h5 class="mb-0 mt-2"><label class="control-label mt-1" for="password">Current password</label></h5>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge form-control" style="width:40%">
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <h5 class="mb-0 mt-2"><label class="control-label mt-1" for="password">New password</label></h5>
        <div class="controls">
          <input type="password" id="new_password" name="new_password" placeholder="" class="input-xlarge form-control" style="width:40%">
          <p><label class="help-block">Password should be at least 6 characters</label></p>
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <h5 class="mb-0 mt-2"><label class="control-label mt-1" for="password">Confirm new password</label></h5>
        <div class="controls">
          <input type="password" id="re_new_password" name="re_new_password" placeholder="" class="input-xlarge form-control" style="width:40%">
        </div>
      </div>
      <br>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-primary big-button" style="font-size: 20px;">Change Password</button>
        </div>
      </div>


    </fieldset>
  </form>

{% endblock content %}
{% block footer_javascript_page %}
  <script>
      $('#site-wrapper').addClass('home-bg')
  </script>
{% endblock footer_javascript_page %}