{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}Model Visualization{% endblock title%}

{% block head_css_section %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<style>
    .hidden {
      display: none;
    }


    #cy {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    .selected {
      stroke: #FF0000;
    }

    .cselected {
      stroke: #ffa500;
      transition: stroke .2s, border .2s;
    }


    .node {
      font: 7px sans-serif;
      stroke-width: .5;
    }

    .link {
      stroke: lightgrey;
      stroke-opacity: 0.5;
      fill: none;
    }

    #note-color-input {
      height: 50px;
      margin-top: 2%;
      margin-left: 1%;
    }

    #edit-notes-modal {
      overflow-y: hidden;
      display: none;
      width: fit-content;
      height: fit-content;
      top: 25%;
      left: 70%;
    }

    .note-label-color {
      display: flex;
      justify-content: space-between;
    }

    .note-label-container {
      flex: 1;
    }

    #note-label-input {
      width: 100%;
      margin-top: 2%;
      margin-right: 2%;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 4%;
    }

    .modal-header {
      cursor: move;
    }
    </style>
{% endblock head_css_section %}

{% block toasts %}


  <div class="modal" tabindex="-1" role="dialog" id="edit-notes-modal" display="none">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create/Edit Notes</h5>
          <button type="button" id="c-m-b" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="edit-notes-modal-body">
          <select class="form-control" id="notes-list">
            <option selected>Notes</option>
          </select>
          <div class="note-label-color">
            <span class="note-label-container">
              <textarea placeholder='Label your note' id="note-label-input"></textarea>
            </span>
            <input type=color value="#000000" id="note-color-input">
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="n-a-b" class="btn btn-success">New note</button>
          <button type="button" id="s-a-b" class="btn btn-primary">Save</button>
          <button type="button" id="r-a-b" class="btn btn-danger">Remove</button>
          <button type="button" id="d-a-b" class="btn btn-secondary">Discard</button>
        </div>
      </div>
    </div>
    <a id="export-placeholder" class="hidden" href=""></a>
  </div>
{% endblock toasts %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="doc_title" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="doc_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="doc_contents">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <div class="row"><!-- Input Nav row -->
            <div class="col d-flex flex-wrap graybg p-2 justify-content-start justify-content-xl-between"><span class="mr-2"><strong>Dataset:</strong> <span id="corpus"></span></span><span class="mr-2"><strong>Query:</strong> <span id="term"></span></span><span class="mr-2"><strong>Parameters:</strong> <span id="dn"></span> docs; <span id="topics"></span> topics; <span id="start"></span>-<span id="end"></span>, <span id="stop_words"></span></div>
        </div>
    <!--     <div class="row">
            <div class="col d-flex flex-wrap  p-2 justify-content-start">
                <div class="p-3" >Notes Mode:
                    <i class="fas fa-toggle-on orange"></i>
                </div>
                <div class="p-3"><a href="#" id="annotation-button">Show Tools</a></div>
                <div class="p-3"><a href="#" id='s-n-a-b' style="cursor: pointer;">Show Notes Menu</a></div>
                <div class="p-3"><a href="#" id='ex-a-b' style="cursor: pointer;">Export Network</a></div>
            </div>
        </div> -->
        <div id="loading_show" align="center">
            <h6></h6>
            <img src="{% static 'searcher/images/big-ajax-loader.gif' %}" alt="loading">
          </div>
        <div id="loading_hide" class="hidden">
            <div class="row pt-2">
                <div class="col">
                    <ul class="nav nav-tabs" id="visTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="tree-btn" data-toggle="tab" href="#tree" role="tab" aria-controls="tree" aria-selected="true">Tree <i class="fas fa-info-circle  ml-2" data-container="body" data-toggle="popover" data-placement="bottom"
                            data-content="Shows clustered topics from the 6 models in a hierarchical tree form with the root as model->cluster->topic->words. Colored by cluster. Cluster circle sizes are the sum of topics weights in their cluster. 
                            Topic circle sizes are the topic weights."></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="circle-btn" data-toggle="tab" href="#circle" role="tab" aria-controls="circle" aria-selected="true">Circle <i class="fas fa-info-circle  ml-2" data-container="body"
                            data-toggle="popover" data-placement="bottom"
                            data-content="This graph shows co-occurence of the top words across clusters. The words in each cluster are unions of the top words from each topic in the cluster. A maximum of 250 total words are displayed. 
                            Word circle size is the number of occurences of that word in the cluster's topic's top words."></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="network-btn" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="true">Network <i class="fas fa-info-circle  ml-2" data-container="body" data-toggle="popover" data-placement="bottom"
                            data-content="This graph shows two sets of relationships between each of the topics in each of the models. Each node in the graph is a topic. Each edge is the number of documents that appear in within the two topics. 
                            The node locations are projected onto a 2d vector space made up of each topic's word distribution, then reduced to 2-dimensions with pca."></i></a>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="tab-content " id="visTabContent">
                <div class="tab-pane fade cytoscape-height" id="tree-graph-div" role="tabpanel" aria-labelledby="tree-tab" style="overflow-y: auto; max-height: 85vh;">
                    
                </div>
                <div class="tab-pane fade cytoscape-height" id="circle-graph-div" role="tabpanel" aria-labelledby="circle-tab">
                    <p> Selected word: <span id="word_label">none</span></p>
                </div>
                <div class="tab-pane fade show active" id="network-graph-div" role="tabpanel" aria-labelledby="network-tab">
                    <div class="row">
                        <div class="col-2">
                        <p> Doc-link limit:<span id="kl_label"></span></p>
                        </div>
                        <div class="col-2" id="slider">
                        </div>
                        <div class="col-8">
                            <div class="row"><!-- Nodes -->
                                <div class="col d-flex flex-wrap  p-2 justify-content-start">
                                    <div class="" >Notes Mode:
                                        <!-- <i class="fas fa-toggle-on orange"></i> -->
                                    </div>
                                    <div class="pl-2 pr-2"><a href="#" id="annotation-button">Show Tools</a></div>
                                    <!-- <div class=""><a href="#" id='s-n-a-b' style="cursor: pointer;">Show Notes Menu</a></div> -->
                                    <div class="pl-2 pr-2"><a href="#" id='ex-a-b' style="cursor: pointer;">Export to PNG</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 cytoscape-height"  id="network-graph">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-lg-6">
        <div class="row">
            <!--nested row for tables -->
            <div class="col-xl-7" style="padding-right:0px">
                <h4 class="gent">Clusters <i class="fas fa-info-circle  ml-2" data-container="body" data-toggle="popover" data-placement="bottom"
                            data-content="Click on a cluster to view the documents within the topics within the cluster."></i></h4>

                <div id="clusters-table" class="table clustertable vistablediv">
                    
                </div>
            </div>

            <div class="col-xl-5 " style="padding-left:0px">
                <h4 class="gent">Documents <i class="fas fa-info-circle  ml-2" data-container="body" data-toggle="popover" data-placement="bottom"
                            data-content="Click on a document to view the text"></i></h4>
                <div class="mt-4 vistablediv" id="topics-table">
                    <table id="dtable" class="table docstable">
                        
                    </table>
                </div>
            </div>
        </div>

<!--         <div class="row mb-3">
            <div class="col selectdoc mt-4" id="article">
                <h4 class="gent" id="doc_title">Selected Document</h4>


                <p id="doc_contents" class="table_txt" style="max-height: 100%; overflow-x: auto; overflow-y: auto;"></p>
            </div>

        </div> -->
    </div>

</div>


{% endblock content %}

{% block footer_javascript_section %}
<!-- <script src="{% static 'searcher/js/jquery.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'searcher/popper.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!-- <script src="{% static 'searcher/js/bootstrap.min.js' %}"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="{% static 'searcher/js/d3.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.5.1/d3-annotation.js"></script>
<script src="{% static 'searcher/js/html2canvas.min.js' %}"></script>
<!--<script src="/static/searcher/d3-ring-note.js"></script>-->
<!--<script type="text/javascript" src="{% static 'searcher/js/cytoscape.min.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/js/index.umd.min.js' %}"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/cytoscape"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-layers"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-bubblesets"></script>

<script type="text/javascript" src="{% static 'searcher/multi-level-lda/tables.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/multi-level-lda/hdsr_network.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/multi-level-lda/tree.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/multi-level-lda/circle.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/multi-level-lda/triple_vis.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/multi-level-lda/multi_vis_annotation.js' %}"></script>
{% endblock footer_javascript_section %}