{% extends 'searcher/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

    <div class="row align-items-center">
        <div class="homecta col-md-5 col-xl-4 offset-xl-1">
            <h1 class="mb-4">Model of Models</h1>
            <div class="maxout">
                <p>Model of Models is a platform for collaborative language research and teaching, bringing together humanistic methods with technical innovations.</p>
                <p>Model of Models is a project of the UC Cincinnati Digital Scholarship Center (DSC) funded by the Andrew W. Mellon Foundation</p>
            </div>

            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="buttoncontainer orangepipebg">
                        <button type="button" href="/searcher/models" class="btn btn-main graybg">Create a Model</button>
                    </div>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <div class="buttoncontainer orangepipebg">
                        <button type="button" href="#" class="btn btn-main graybg"><a href="/learning_machines_app/learningmachines/searcher/templates/searcher/Tutorial.html">Start the Tutorial</a></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-5 grayrule pl-md-4 my-5">
            <div class="projintro d-flex align-items-end">
                <h3 class="mr-5 mb-0">Featured Project</h3><a class="ml-5 mb-0" href="#">VIEW ALL</a>
            </div>
            <div class="projectsnap"><img class="grayborder w-100 my-4" src="../../static/searcher/images/sample model.png" /></div>
            <div class="projectdescription">
                <h3 class="gent">Dakota Access Pipleline Range Twitter Networks</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

    </div>
{% endblock content %}

{% block footer_javascript_page %}
    <script>
        $('#site-wrapper').addClass('home-bg')
    </script>
{% endblock footer_javascript_page %}