{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}Model List{% endblock title%}
{% block head_favicon %}
{% endblock head_favicon %}
{% block content %}
    <div class="row" id="titlerow">
        <div class="col">
            <h2 class="gent mb-4">My Models</h2></div>
    </div>
    <div class="row">
        <div class="col w-100">
            <h4 class="gent">Running Models</h4>
            <div class="table-responsive w-100" >
                <table class="table table-striped orange-border grayrule-right grayrule-bottom" id="running_div">
                    <thead>
                        <tr>
                            <th scope="col">Query</th>
                            <th scope="col">Dataset</th>
                            <th scope="col">Date</th>
                            <th scope="col">Year</th>
                            <th scope="col">Parameters</th>
                            <th scope="col">Visualization</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col w-100">
            <h4 class="gent">Favorite Models</h4>
            <div class="table-responsive w-100" >
                <table class="table table-striped orange-border grayrule-right grayrule-bottom" id="saved_div">
                    <thead>
                        <tr>
                            <th scope="col">Query</th>
                            <th scope="col">Dataset</th>
                            <th scope="col">Date</th>
                            <th scope="col">Year</th>
                            <th scope="col">Parameters</th>
                            <th scope="col">Visualization</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col w-100">
            <h4 class="gent">All Models</h4>
            <div class="table-responsive w-100" >
                <table class="table table-striped orange-border grayrule-right grayrule-bottom" id="recent_div">
                    <thead>
                        <tr>
                            <th scope="col">Query</th>
                            <th scope="col">Dataset</th>
                            <th scope="col">Date</th>
                            <th scope="col">Year</th>
                            <th scope="col">Parameters</th>
                            <th scope="col">Visualization</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

{% endblock content %}


{% block footer_javascript_section %}


    <script>
        let data = "{{data|escapejs}}"
        data = JSON.parse(data)
        let DEV = data.development
        let RUNNING_MODELS =  data.running_models
        let SAVED_MODELS = data.saved_models
        let RECENT_MODELS = data.recent_models
    </script>

    <script src="{% static 'searcher/js/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'searcher/js/d3.min.js' %}"></script>
    <script src="{% static 'searcher/js/crossfilter.js' %}"></script>
    <script src="{% static 'searcher/js/dc.min.js' %}"></script>
    <script src="{% static 'searcher/show_models.js' %}"></script>
{% endblock footer_javascript_section %}
            