{% extends 'searcher/base.html' %}
{% block title %}Projects{% endblock title%}
{% block content %}
<div class="col-8 bg-color mt-3 mb-3" align="center" style="border-radius: 10px; box-shadow: 0px 0px 5px 2px grey;">
       <div id="legend" class="mt-5">
        <h1 style="text-decoration: underline;">Projects</h1>
        <div class="row mb-5 mt-5">
        {% for key, values in projects.items %}
        <div class="col-4 mt-2">
          <div class="card p-3">
            <h5 style="text-decoration: underline;">{{values.Name}}</h5>
            <p>{{values.Info}}</p>
            {% for link in values.Links %}
              <a href="{{link.0}}">{{link.1}}</a>
            {% endfor %}
          </div>
        </div>
        
        {% endfor %}
        </div>

        
      </div>



{% endblock content %}
{% block footer_javascript_page %}
  <script>
      $('#site-wrapper').addClass('home-bg')
  </script>
{% endblock footer_javascript_page %}