{% extends 'searcher/base.html' %}
{% block title %}Projects{% endblock title%}
{% block content %}
    <div class="row">
        <div class="projlist container-fluid mt-5">
            <h2>Projects</h2>
            <div class="row justify-content-evenly" style="margin-bottom: 1.5rem;">
                {% for key, values in projects.items %}
                <div class="col-12 col-md-4 col-lg-4 col-xl-4" style="padding: 1.5rem;">
                    <div class="card h-100 p-3">
                        <h3><a>{{values.Name}}</a></h3>
                        <p>{{values.Info}}</p>
                        {% for link in values.Links %}
                            <a href="{{link.0}}">{{link.1}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
    </div>
{% endblock content %}
{% block footer_javascript_page %}
    <script>
        $('#site-wrapper').addClass('home-bg')
    </script>
{% endblock footer_javascript_page %}