{% extends 'searcher/base.html' %}
{% block title %}Register{% endblock title%}


{% block content %}

<div class="col-6 screen-col bg-color mt-3 mb-3" align="center" style="border-radius: 10px; box-shadow: 0px 0px 5px 2px grey">
       <div class="mt-3" id="legend">
        <h1>Create Account</h1>
      </div>


  <form class="form-horizontal" action="" method="POST" id="login-form">
    {% csrf_token %}
    <fieldset>
     
      <div class="control-group">

        <h5 class="mb-1 mt-2"><label class="control-label mb-1" for="email">E-mail</label></h5>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="form-control input-xlarge" style="width: 40%">
          <label class="help-block">Please provide your E-mail</label>
        </div>
      </div>


      <div class="control-group">

        <h5 class="mb-1 mt-2"><label class="control-label mb-1" for="institute">Institute</label></h5>
        <div class="controls">
          <input type="text" id="institute" name="institute" placeholder="" class=" form-control input-xlarge" style="width: 40%">
        </div>
      </div>

      <div class="control-group">

        <h5 class="mb-1 mt-2"><label class="control-label mb-1" for="department">Department</label></h5>
        <div class="controls">
          <input type="text" id="department" name="department" placeholder="" class="form-control input-xlarge" style="width: 40%">
        </div>
      </div>
      <div class="w-50"><hr></div>
      <div class="control-group">

        <h5 class="mb-1 mt-2"><label class="control-label mb-1" for="password">Password</label></h5>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="form-control input-xlarge" style="width: 40%">
          <label class="help-block mb-1">Password should be at least 6 characters</label>
        </div>
      </div>

      <div class="control-group">

        <h5 class="mb-1 mt-2"><label class="control-label mb-1" for="password_confirm">Password (Confirm)</label></h5>
        <div class="controls">
          <input type="password" id="re_password" name="re_password" placeholder="" class="form-control input-xlarge" style="width: 40%">
          <label class="help-block mb-1">Please confirm password</label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <br>
          <button class="btn btn-primary big-button" style="font-size: 20px">Register</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

{% endblock content %}
{% block footer_javascript_page %}
  <script>
      $('#site-wrapper').addClass('home-bg')
  </script>
{% endblock footer_javascript_page %}