{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}Search{% endblock title%}


{% block head_css_page %}
<!--<link rel="stylesheet" href="/static/ext/bootstrap.min.css">-->
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style type="text/css" id="page-css">
  td {
    font: 10px;
  }

  MatchedText {
    background-color: orange;
  }

  #legend {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
  }

  .lightbg {
    background-color : #ddd;
  }
  .darkbg {
    background-color : #eee;
  }

  .instructions {
    color: silver;
    font-size: 12px;
  }
  .db-button {
    border-color : white;
  }
  .db-button:hover {
     box-shadow: 0px 5px 5px grey;
     border-color : white;
  }

  .article-list {
    cursor: pointer;
    border-radius: 25px;
  }

  .hidden {
    display: none;
  }
  .line {
    fill : none;
    stroke : black;
    stroke-width : 1px;
  }
  .graphtext {
    font-size : 6px;
  }

  .error {
    border: 1px solid #f5c6cb !important;
  }

  .rowselected {
    background-color: lightblue;
  }
  .article-p {
    margin-left : 4px;
    margin-right: 4px
  }
  .loading-holder {
    background: url({% static 'searcher/images/ajax-loader.gif' %}) center center no-repeat;
  }

  .btn {
    color : #000;
  }

  iframe {
    border-width: 0px;
  }
  .content {
    position : relative;
    overflow-y: scroll;
    height: 100%;
  }
  .search-section {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .tinytext {
    font-size: 12px;
  }
  .nohover {
    pointer-events: none
  }

  #search-term:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px red;
}
.figure-caption {
  font-size : 100%;
  color : black;
}

.vis-img-hover {
  left : 0;
  right : 0;
  margin : auto;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  height: 200px;
  max-width: 400px;
  width: 93%;
  transition: opacity .2s, visibility .2s;
}

.fig:hover .vis-img-hover{
  color : black;
  visibility: visible;
  opacity: .9;
}



</style>

{% endblock head_css_page %}
{% block content %}
<div class="progreminder buttoncontainer orangepipebg d-none d-xl-block">
  <div class="graybg p-2">
      <p><strong>Dataset:</strong>
          <br /> ER &amp; Urgent Care Reviews
      </p>
      <p><strong>Query:</strong>
          <br /> Bad or Horrible
          <br /> 2016-2020
          <br /> One Star
      </p>
  </div>
</div>
<div class="container-fluid limit my-5">

  <div class="row" id="titlerow">
    <div class="col">
      <h2 class="gent mb-4">Tutorial: Building a Query</h2>
    </div>
  </div>

  <div class="row" id="mainrow">
      <div class="col-md-6 mt-4 mt-md-0">
        <!-- nested row for nav and form-->
        <div class="row">
          <div class="col-lg-5">
              <ul class="nav nav-pills flex-column" role="tablist">
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer bluepipebg">
                          <button type="button" href="#" class="btn btn-main graybg  w-100">Login or Register</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer bluepipebg">
                          <button type="button" href="#" class="btn btn-main graybg  w-100">Select Dataset</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer orangepipebg">
                          <button type="button" href="#" class="btn btn-main graybg  w-100">Build Query</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer graypipebg">
                          <button type="button" href="#" class="btn btn-main graybg  w-100">Focus Query</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer graypipebg">
                          <button type="button" href="#" class="btn btn-main graybg  w-100">Review Data Sources</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer graypipebg">
                          <button type="button" href="#" class="btn btn-main graybg w-100">Select Visualization</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer graypipebg">
                          <button type="button" href="#" class="btn btn-main graybg w-100">Set Parameters</button>
                      </div>
                  </li>
                  <li class="nav-item mt-1">
                      <div class="buttoncontainer graypipebg">
                          <button type="button" href="#" class="btn btn-main graybg  w-100">Run Model</button>
                      </div>
                  </li>

              </ul>

          </div>

          <div class="col-lg-7 mt-4 mt-lg-0">
            <form>
              <div class="form-group">
                <label for="start-year">Start Date</label>
                <input type="date" class="form-control" id="start-year" placeholder="2016">
              </div>
              <div class="form-group">
                <label for="end-year">End Date</label>
                <input type="date" class="form-control" id="end-year" placeholder="2020">
              </div>
              <div class="form-group">
                <label for="search-term">Search Query</label>
                <input type="text" name="search-term" class="form-control" id="search-term" placeholder="eg: Bad OR Horrible">
                <p class="tinytext">Tip: Use 'AND', 'NOT', 'OR' as logical keywords, nesting and combining them with parentheses. Multi word phrases should be within double quotes e.g. "apple sauce" </p>
              </div>
              <div class="form-group hidden" id="care-rating-low-lab">
                <label for="journal-options-select" id="care-rating-low-lab">Folter by reviewer's star rating</label>
                <input type="text" class="form-control" id="Filter" placeholder="One Star">
              </div>
              <div class="form-group hidden" id="archaeology-row-div">
                <label for="journal-options-select" id="journal-label">Select Journal</label>
                <div id="journal-div">
                  <select name="journal" class="form-control form-control-sm" id="journal-options-select">
                    <option value="all">all</option>
                    <option value="Latin American Antiquity">Latin American Antiquity</option>
                    <option value="Ancient Mesoamerica">Ancient Mesoamerica</option>
                  </select>
                </div>
              </div>
              <div class="form-group hidden" id="caselaw-row-div">
                <label for="law-options-select" id="juris-label">Jurisdiction:</label>
                <div id="juris-div">
                  <select name="jurisdiction" class="form-control form-control-sm" id="law-options-select">
                    <option value="all">all</option>
                    <option value="federal">federal</option>
                    <option value="other">others</option>
                  </select>
                </div>
              </div>
              <div class="form-group hidden" id="family-row-div">
                <label for="family-options-select" id="family-label">Keyword:</label>
                <div id="family-div">
                  <select name="family" class="form-control form-control-sm" id="family-options-select">
                    <option value="all">all</option>
                    <option value="true">true</option>
                    <option value="false">false</option>
                  </select>
                </div>
              </div>
              <div class="form-group hidden" id="coi-row-div">
                <label for="law-options-select" id="auth-s-label">Search Authors:</label>
                <input type="text" class="form-control" name="search-term" id="search-term" placeholder="search authors">
              </div>
            </form>

            <div class="row justify-content-evenly">
              <div class="col-12" style="padding: 0.5rem;">
                <div class="row"> 
                  <div class="col-4 col-sm-6 col-md-6 col-lg-4 p-2">
                    <button class="btn btn-lg db-button doc-button w-100" id="docs-100" style="text-align: center; margin: auto; border-radius: 0%;">100 docs</button>
                  </div>
                  <div class="col-4 col-sm-6 col-md-6 col-lg-4 p-2">
                    <button class="btn btn-lg db-button doc-button w-100" id="docs-500" style="text-align: center; margin: auto; border-radius: 0%;">500 docs</button>
                  </div>
                  <div class="col-4 col-sm-6 col-md-6 col-lg-4 p-2">
                    <button class="btn btn-lg db-button doc-button w-100" id="docs-1000" style="text-align: center; margin: auto; border-radius: 0%;">1000 docs</button>
                  </div>
                  <div class="col-4 col-sm-6 col-md-6 col-lg-4 p-2">
                    <button class="btn btn-lg db-button doc-button w-100" id="docs-5000" style="text-align: center; margin: auto; border-radius: 0%;">5000 docs</button>
                  </div>
                  <div class="col-4 col-sm-6 col-md-6 col-lg-4 p-2">
                    <button class="btn btn-lg db-button doc-button w-100" id="docs-10000" style="text-align: center; margin: auto; border-radius: 0%;">10000 docs</button>
                  </div>
                  <div class="col-4 col-sm-6 col-md-6 col-lg-4 p-2">
                    <button class="btn btn-lg db-button doc-button w-100" id="docs-20000" style="text-align: center; margin: auto; border-radius: 0%;">20000 docs</button>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row justify-content-center">
              <div class="col-12">
                <h3>Filter Docs containing <span id="search-qry"></span> <i data-container="body" data-toggle="popover" data-placement="bottom" data-content="These bar graphs show the selected doc counts over both time and occurrence of search term. Click and drag across the graphs to additionally filter texts for the model. If documents were fetched with no search term, occurrence is simply the number of words in the document" class="material-icons center_icon_h3">info_outlined</i></h3>
                <div class="row ">
                <div class="col-12">
                  <img src="{% static 'searcher/images/big-ajax-loader.gif' %}" id="loading-img">
                </div>
                <div class="dc-doc-count col-12">
                  <p><span class="filter-count"></span> selected out of <span class="total-count"></span> records | <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a></p>
                </div>
                <div class="col-12 hidden" id="time-graph">
                  <p><span class="filter" id="label_for_month_bar"></span></p>
                </div>
                <div class="col-12 hidden" id="min-count-graph">
                  <p><span class="filter" id="label_for_count_bar"></span></p>
                </div>
                <div class="col-12 mt-5 hidden" id="explore-docs-time">
                  <h6>Estimated Time for Model :  <span class="explore-estimated-time"></span></h6>
                </div>
                <div class="col-12 hidden" id="explore-docs-btn-div">
                  <div class="btn btn-lg btn-success db-button explore-docs-btn" style="border-color: white;" >Explore Docs</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /nested row for nav and form-->
      </div>
      <!--end left column -->

      <div class="col-md-4" id="explanation mt-4 mt-lg-0">
          <h5>Date Ranges:</h5>
          <p>Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

          <h5>Search Queries:</h5>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

          <h5>Using Logical Operators and Non-Text Searches:</h5>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

          <h5>Dataset-specific filtering:</h5>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
      </div>

  </div>
  <!--end main content row-->

  <div class="row" id="navrow">
      <div class="col d-flex justify-content-between mt-3">
          <div class="prev font-weight-bold"><a href="#"><i class="fas fa-angle-left mr-1"></i>&laquo; Previous</a></div>
          <div class="next font-weight-bold"><a href="#">Next &raquo;<i class="fas fa-angle-right ml-1"></i></a></div>
      </div>
  </div>

</div>


{% endblock content %}

{% block footer_javascript_section %}

<script>
  let special_access = '{{ special_access }}'
</script>

<script src="{% static 'searcher/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/popper.js' %}"></script>
<script src="{% static 'searcher/js/bootstrap.min.js' %}"></script>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<!--<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>-->
<script src="{% static 'searcher/js/d3.min.js' %}"></script>
<script src="{% static 'searcher/js/crossfilter.js' %}"></script>
<script src="{% static 'searcher/js/dc.min.js' %}"></script>
<script src="{% static 'searcher/database_year_count.js' %}"></script>
<script src="{% static 'searcher/running_time_parameters.js' %}"></script>
<script src="{% static 'searcher/search-controller.js' %}"></script>
{% endblock footer_javascript_section %}


