{% extends 'searcher/base.html' %}
{% load static %}
{% block title %}Model Visualization - Sentiment{% endblock title%}

{% block head_css_section %}
{% endblock head_css_section %}


{% block content %}

<div class="row">
  <div class="col-12" >
      <div id="content" style="overflow-y: auto;">
          <div class="row">
              <div class="col-2">
                  <h6>Corpus : <span id="corpus"></span></h6>
              </div>
              <div class="col-2">
                  <h6>Term : <span id="term"></span></h6>
              </div>
              <div class="col-2">
                  <h6># Docs : <span id="dn"></span></h6>
              </div>
              <div class="col-2">
                  <h6>Stopwords : <span id="stop_words" style="font-size:10px"></span></h6>
              </div>
              <div class="col-2">
                  <h6>Years : <span id="start"></span>-<span id="end"></span></h6>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock content %}

{% block footer_javascript_section %}

<script src="{% static 'searcher/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'searcher/popper.js' %}"></script>
<!-- <script src="{% static 'searcher/js/bootstrap.min.js' %}"></script> -->
<!--<script src="/static/searcher/js/jquery-ui.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="{% static 'searcher/js/d3.min.js' %}"></script>
<script src="{% static 'searcher/sentiment.js' %}"></script>
{% endblock footer_javascript_section %}