{% extends "searcher/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div class="row align-contents-center">
        <div class="col-md-12">
            <div class="container-fluid mt-5 ">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="card card-outline-secondary" style="margin: 10px; border-radius:0px">
                            <div class="card-header">
                                <h3 class="mb-0">Password Reset</h3>
                            </div>
                            <div class="card-body">
                                <p>Your password has been set.  You may go ahead and log in now.</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascript_page %}

{% endblock footer_javascript_page %}