{% extends "searcher/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}
<div class="col-6 screen-col bg-color mt-3 mb-3" align="center" style="border-radius: 10px; box-shadow: 0px 0px 5px 2px grey">
    <div class="mt-5">
       <div id="legend">
        <h1>Reset</h1>
      </div>

    </div>
<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form method="post" class="form-horizontal">{% csrf_token %}
<fieldset >
    <div class="control-group field-password1">

        {{ form.new_password1.errors }}
        <h5><label for="id_new_password1">{% translate 'New password:' %}</label></h5>
        {{ form.new_password1 }}
    </div>

    <div class="control-group field-password2">
        {{ form.new_password2.errors }}
        <h5><label for="id_new_password2">{% translate 'Confirm password:' %}</label></h5>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-dark big-button mt-5" style="font-size: 20px; background-color: var(--other-color); color:black;">
</fieldset>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}

{% block footer_javascript_page %}
  <script>
      $('#site-wrapper').addClass('home-bg')
  </script>
{% endblock footer_javascript_page %}
