{% extends "searcher/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div class="col-6">
<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
<p><a href="{{ login_url }}" class="btn btn-dark big-button" style="font-size: 20px; background-color: var(--other-color); color:black;">{% translate 'Log in' %}</a></p>
</div>
{% endblock %}
{% block footer_javascript_page %}
  <script>
      $('.container-fluid').css('height', window.innerHeight).addClass("align-content-center")
  </script>
{% endblock footer_javascript_page %}