{% extends "searcher/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block title %}Password Reset{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="col-6 screen-col bg-color mt-3 mb-3" align="center" style="border-radius: 10px; box-shadow: 0px 0px 5px 2px grey">
	    <div class="mt-5">
       <div id="legend">
        <h1>Forgot Password</h1>
      </div>

    </div>
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post" class="form-horizontal">{% csrf_token %}
<fieldset class="module">

    <div class="control-group mb-4">

    	<h5 class="mb-0 mt-2"><label class="control-label mb-1" for="email">{% translate 'Email address:' %}</label></h5>
        <!--<label for="id_email"></label>-->
       <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="form-control input-xlarge" style="width: 40%">
        </div>
    </div>
    <input type="submit"  class="btn btn-dark big-button" href="/accounts/create_user/" style="font-size: 20px; background-color: var(--other-color); color:black;" value="{% translate 'Send Password Reset Email' %}" >
</fieldset>
</form>
</div>
{% endblock %}
{% block footer_javascript_page %}
  <script>
      $('#site-wrapper').addClass('home-bg')
  </script>
{% endblock footer_javascript_page %}