Django==3.1
pycurl==7.43.0.5
psycopg2-binary==2.8.6
elasticsearch==7.6.0
requests-aws4auth==1.1.1
nltk==3.4.5
gensim==4.0.1
langdetect==1.0.8
scikit-learn==0.24.0
umap==0.1.1
umap-learn==0.4.1
celery==5.0.5
kombu==5.1.0
redis==3.5.3
pyLDAvis==2.1.2
stop-words==2018.7.23
boto3==1.19.6
django-storages==1.11.1
vaderSentiment==3.3.2
uwsgi==2.0.20
django-health-check==3.16.5

